[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
jupyter = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"
ipykernel = "*"
prefect = "*"
flask = "*"
gunicorn = "*"
tqdm = "*"
requests = "*"
joblib = "*"
psycopg = "*"
psycopg-binary = "*"
evidently = "*"
numpy = "*"
matplotlib = "*"
pyarrow = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
